#nav-button:hover { 
    background-color: #179256;
}
#dropdown-button {
    background-color: #179256;
}
#dropdown-button:hover {
    background-color: #24bb72;
}

@media (min-width: 2000px) {
    footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
} 